<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AMSProto" connectionString="Data Source=DEV-WAS;Initial Catalog=AMSProto;User ID=sa;Password=1WWV20B;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerLocationId" value="C4B1D148-57E2-4FD2-9DAE-0121D40854A0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AMSCacheImagePath" value="\\DEV-WAS\ImageCache" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseImagePath" value="\\DEV-WAS\picdata" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ImageFileBasePath" value="\\DEV-WAS\tempImages" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key ="VehicleServicesPath" value="http://10.7.1.75:8095/Vehicle.asmx/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>