<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="AMSProto" connectionString="Data Source=10.3.0.155;Initial Catalog=AMSProto;User ID=InspectionWriterAPI;Password=iK2FbO1h0gWr1Te!AP1;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <appSettings>
        <add key="ServerLocationId" value="C4B1D148-57E2-4FD2-9DAE-0121D40854A0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="AMSCacheImagePath" value="\\NPA-SRVWEBSAN1\ImageCache" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="BaseImagePath" value="\\NPA-SRVFILE1\picdata" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="ImageFileBasePath" value="\\NPA-SRVWEB3\tempImages" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>