<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="AMSProto" connectionString="Data Source=10.63.0.155;Initial Catalog=AMSProto;User ID=InspectionWriterAPI;Password=iK2FbO1h0gWr1Te!AP1;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <appSettings>
        <add key="VehicleServicesPath" value="http://10.63.0.37:8095/Vehicle.asmx/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="ServerLocationId" value="1BFCB8D2-0BBF-DC11-ADE2-0019B9B35DA2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="AMSCacheImagePath" value="\\NPA-SRVWEBCIN1\ImageCache" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="BaseImagePath" value="\\NPA-CINPHOTO\picdata" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="ImageFileBasePath" value="\\NPA-SRVWEBCIN1\tempImages" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>