<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>AppName</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>DiagnosticsFooter</string>
			<key>Title</key>
			<string>Diagnostics</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>Key</key>
			<string>loggingServer</string>
			<key>DefaultValue</key>
			<string>10.7.1.75</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Port</string>
			<key>Key</key>
			<string>loggingPort</string>
			<key>DefaultValue</key>
			<string>9050</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>LoggingLevel</string>
			<key>Key</key>
			<string>loggingLevel</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>All</string>
				<string>Error</string>
				<string>Warning</string>
				<string>Information</string>
				<string>Debug</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>HideCancelButton</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>hideCancel</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PortraitLock</string>
			<key>Key</key>
			<string>portraitLock</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>IgnoreCellularConnectivity</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>ignoreCellularConnectivity</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>InspectionLookback</string>
			<key>Key</key>
			<string>inspectionLookback</string>
			<key>DefaultValue</key>
			<integer>90</integer>
			<key>Titles</key>
			<array>
				<string>14Days</string>
				<string>30Days</string>
				<string>60Days</string>
				<string>90Days</string>
				<string>180Days</string>
				<string>1Year</string>
			</array>
			<key>Values</key>
			<array>
				<integer>14</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ImageCache</string>
			<key>Key</key>
			<string>imageCache</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Titles</key>
			<array>
				<string>3Days</string>
				<string>7Days</string>
				<string>14Days</string>
				<string>21Days</string>
				<string>30Days</string>
			</array>
			<key>Values</key>
			<array>
				<integer>3</integer>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>30</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>DeveloperMode</string>
			<key>FooterText</key>
			<string>DeveloperFooter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>UseStage</string>
			<key>Key</key>
			<string>useStage</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ApiOverride</string>
			<key>Key</key>
			<string>apiOverride</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ApiVersion</string>
			<key>Key</key>
			<string>apiVersion</string>
			<key>DefaultValue</key>
			<string>Default</string>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>WebApi-A</string>
				<string>WebApi-B</string>
			</array>
			<key>Values</key>
			<array>
				<string>Default</string>
				<string>A</string>
				<string>B</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>appVersion</string>
			<key>Title</key>
			<string>Version</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Acknowledgments</string>
			<key>Title</key>
			<string>Acknowledgments</string>
		</dict>
	</array>
</dict>
</plist>
